
body {
    height: 100%;
    /*background-image: url('background.jpeg');*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: grid;
  grid-template-rows: 1fr, 1fr, 1fr;

}

#topscorer {
    padding-top: 50px;
    grid-row: 2;
}

#vereinsuche {
    padding-top: 50px;
    grid-row: 3;
    visibility: hidden;
}

#inhalt {
    margin-left: 10px;
    /*padding-top: 50px;*/

    
}


h2 {
    margin-left: 15px;
}


#topleiste {
    margin-bottom: 100px;
    grid-row: 1;
    position:fixed;
   left:0px;
   top:0px;
   width:100%;
   height: 50px;
   z-index: 999;
    background-color: green;
    
   
}

.zeile {
    width: 800px;
    display:flex;
  justify-content:space-between;
}


.spielername {
    width: 300px;
    float:right;
}

.tore {
    width: 200px;
    float: right;
}


.verein {
    width: 300px;
    
}


.zeile {
    padding-top: 5px;
    padding-bottom: 5px;
}

.zeile:nth-child(even) {
    background-color: lightgray;
}

.zeile:nth-child(odd) {
    background-color: lightsteelblue;
}

#landausgabe, #hauptland {
    display: grid;
    grid-template-columns: 400px 400px 400px;
}


#landausgabe {
    visibility: hidden;
}

