body
{
    background-color: ghostwhite;
}



.feld {
    font-size: 1.3em;
    padding: 5px 12px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: teal;
    border: 1px solid silver;
    background-image: linear-gradient(to top, gainsboro 0%, white 90%);
    border-radius: 20px;
}


.select {
    
    
    height: 25px;
    width: 25px;
    background-color: #eee;
}


#knopf {
    cursor: pointer;
    align-items: center;
    
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}
.bb {
    margin-right: 150px;
}


h1 {
    color: #7c795d;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
    margin: 0;
}


.minus {
    background-image: radial-gradient(100% 100% at 100% 0, #008800 0, #00FF00 100%);
}